[submodule "subprojects/busybox"]
	path = subprojects/busybox
	url = git://busybox.net/busybox.git
[submodule "subprojects/mdadm"]
	path = subprojects/mdadm
	url = https://github.com/neilbrown/mdadm.git
[submodule "subprojects/lvm2"]
	path = subprojects/lvm2
	url = git://sourceware.org/git/lvm2.git
[submodule "subprojects/eudev"]
	path = subprojects/eudev
	url = https://github.com/gentoo/eudev.git
