[submodule "subprojects/busybox"]
	path = subprojects/busybox
	url = git://busybox.net/busybox.git
[submodule "subprojects/mdadm"]
	path = subprojects/mdadm
	url = https://github.com/neilbrown/mdadm.git
[submodule "subprojects/lvm2"]
	path = subprojects/lvm2
	url = git://sourceware.org/git/lvm2.git
[submodule "subprojects/eudev"]
	path = subprojects/eudev
	url = https://github.com/gentoo/eudev.git
[submodule "subprojects/e2fsprogs"]
	path = subprojects/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "subprojects/squashfs-tools"]
	path = subprojects/squashfs-tools
	url = git://git.kernel.org/pub/scm/fs/squashfs/squashfs-tools.git
[submodule "subprojects/zfs"]
	path = subprojects/zfs
	url = https://github.com/openzfs/zfs.git
[submodule "subprojects/wireless-regdb"]
	path = subprojects/wireless-regdb
	url = git://git.kernel.org/pub/scm/linux/kernel/git/sforshee/wireless-regdb.git
[submodule "subprojects/rsync"]
	path = subprojects/rsync
	url = https://github.com/WayneD/rsync.git
[submodule "subprojects/dropbear"]
	path = subprojects/dropbear
	url = https://github.com/mkj/dropbear.git
[submodule "subprojects/linux-firmware"]
	path = subprojects/linux-firmware
	url = git://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
[submodule "subprojects/intel-ucode"]
	path = subprojects/intel-ucode
	url = https://github.com/intel/Intel-Linux-Processor-Microcode-Data-Files.git
[submodule "subprojects/efibootmgr"]
	path = subprojects/efibootmgr
	url = https://github.com/rhboot/efibootmgr.git
[submodule "subprojects/util-linux"]
	path = subprojects/util-linux
	url = https://github.com/util-linux/util-linux.git
[submodule "subprojects/groff"]
	path = subprojects/groff
	url = https://git.savannah.gnu.org/git/groff.git
