# -*- sh -*-
*~
/FOO

# autotools files
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure

# built files
/src/initramfs
/src/initramfs.cpio.xz
/src/ruckusrd.conf
/subprojects/busybox.tar
/subprojects/e2fsprogs.tar
/subprojects/eudev.tar
/subprojects/lvm2.tar
/subprojects/mdadm.tar
/subprojects/squashfs-tools.tar
