[submodule "subprojects/busybox"]
	path = subprojects/busybox
	url = git://busybox.net/busybox.git
[submodule "subprojects/mdadm"]
	path = subprojects/mdadm
	url = https://github.com/neilbrown/mdadm.git
[submodule "subprojects/lvm2"]
	path = subprojects/lvm2
	url = git://sourceware.org/git/lvm2.git
[submodule "subprojects/eudev"]
	path = subprojects/eudev
	url = https://github.com/gentoo/eudev.git
[submodule "subprojects/e2fsprogs"]
	path = subprojects/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "subprojects/squashfs-tools"]
	path = subprojects/squashfs-tools
	url = git://git.kernel.org/pub/scm/fs/squashfs/squashfs-tools.git
[submodule "subprojects/zfs"]
	path = subprojects/zfs
	url = ../contrib/zfs.git
