# -*- sh -*-
*~
/FOO

# autotools files
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver

# built files
/ruckusrd.1
/src/initramfs
/src/initramfs.cpio.xz
/src/ruckusrd.sh
/subprojects/.build*
/subprojects/busybox.tar
/subprojects/dropbear.tar
/subprojects/e2fsprogs.tar
/subprojects/efibootmgr.tar
/subprojects/eudev.tar
/subprojects/firmwarenator.tar
/subprojects/fsarchiver.tar
/subprojects/fw.sqsh
/subprojects/groff.tar
/subprojects/less.tar
/subprojects/lvm2.tar
/subprojects/mdadm.tar
/subprojects/newt.tar
/subprojects/rsync.tar
/subprojects/squashfs-tools.tar
/subprojects/syslinux
/subprojects/syslinux-*.tar.*
/subprojects/syslinux.tar
/subprojects/ucode.img
/subprojects/util-linux.tar
/subprojects/zfs.tar
/subprojects/zstd.tar
